<main class="p-5"><!-- Урок 10 + 11 відображення блоків-->

	<div class="card p-5">
		<p id="test">
			Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
			Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
		</p>
		<p id="test">
			Hello world!
		</p>
		<p hidden id="test">
			Hello world!
		</p>
		<span class="test">Test</span>
	</div>
	<pre>	dfgklnf <!--це показує відступи tab-size:10px або 4 </pre>-->

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<!--Лінійні теги (не в рядок ?)-->
	<div class="block" style="margin: 50px 0px 50px 100px; background: gray;">
		<span>Category cat</span>
		<span>Category dog</span>
		<span>Category fish</span>
		<span>Category fish</span>
		<span class="block"> Category top list</span>


		<span>Inline</span>
	</div>

	<div>Block</div>
