 .card > p {
 color:green;
 -webkit-text-fill-color:red;
 -webkit-text-stroke: 1px blue;
 }

 p:focus,
 p:active,
 p:hover {
 -webkit-text-fill-color:rgb(225, 255, 0);
 -webkit-text-stroke: 1px rgb(0, 0, 0);

 direction: rtl;
 }

 #test{
	color:unset;
 -webkit-text-fill-color:unset;
 -webkit-text-stroke:unset;


 text-align: justify;

 letter-spacing: 0.5em;

 }

 span {
	text-align:left;
	text-transform: uppercase;

	text-decoration: underline solid red;
 }

 span:hover {
	text-decoration-line: line-through;
	text-decoration-style: dotted ;
 }

 pre {
	tab-size:5 ;
 }

 *{
	font-family: "Roboto",  Helvetica,  sans-serif;
	font-size: 18px; 
	font-weight: 900;
	font-style: italic;

	font-display: swap;
 }

 span {
	font-size: larger;

	font-weight: lighter;

	font-style: oblique;
 }

 p {
	font-stretch: expanded;
 }

 .test {
	display: none;
 }

 .block {
	display: flex;
	background: rgb(209, 204, 204);

	margin: auto; /*працює лише горизонтально по центру*/

	width: 100;

	max-width: 600px;

	min-height: 100px;

	max-height: max-content;

	padding: 15px;

	box-sizing: content-box;
	
 }
