 .card > p {
 color:green;
 -webkit-text-fill-color:red;
 -webkit-text-stroke: 1px blue;
 }

 p:focus,
 p:active,
 p:hover {
 -webkit-text-fill-color:rgb(225, 255, 0);
 -webkit-text-stroke: 1px rgb(0, 0, 0);

 direction: rtl;
 }

 #test{
	color:unset;
 -webkit-text-fill-color:unset;
 -webkit-text-stroke:unset;


 text-align: justify;

 letter-spacing: 0.5em;

 }

 span {
	text-align:left;
	text-transform: uppercase;

	text-decoration: underline solid red;
 }

 span:hover {
	text-decoration-line: line-through;
	text-decoration-style: dotted ;
 }

 pre {
	tab-size:5 ;
 }

 *{
	font-family: "Roboto",  Helvetica,  sans-serif;
	font-size: 18px; 
	font-weight: 900;
	font-style: italic;

	font-display: swap;
 }

 span {
	font-size: larger;

	font-weight: lighter;

	font-style: oblique;
 }

 p {
	font-stretch: expanded;
 }

 .test {
	display: none;
 }

 lesson11
 .block {
	display: flex;
	background: rgb(209, 204, 204);

 .number:invalid{
  background: rgb(232, 229, 9);
 }

 input:placeholder-shown ~ span {
  background: pink;
 }*/

 /*  Урок 4  
Завдання №1. 
Використовуйте цей селектор :hover*/

.lesson-four-task-one button:hover {
  color: red;
  background-color: yellow;
}

/* Завдання №2. 
Використовуйте цей селектор :hover*/
 .lesson-four-task-two a:hover ~ h1 {
  background-color: green;
}

/* Завдання №3. Змініть колір тексту відвіданого посилання на жовтий:
 Порада проходити це завдання на https://codepen.io/ ,адже через те,
що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
тому легше всього пройти тут
 Використовуйте цей селектор :visited*/

 .lesson-four-task-three a:visited {
  color:yellow;
 }

 /* Завдання №4. 
Використовуйте цей селектор :link */

.lesson-four-task-four a:link {
  color: red;
}

/*Завдання №5. 
Використовуйте цей селектор :active */

 .lesson-four-task-five btn:active {
  background-color: blue;
} 
main

	margin: auto; /*працює лише горизонтально по центру*/

 lesson11
	width: 100;
=======
 .lesson-four-task-six button:focus {
  color: orange;
  background-color: orange;
}
 main

	max-width: 600px;

lesson11
	min-height: 100px;

.lesson-four-task-seven #target:target{
  color: white;
  background-color:green;
}
 main

	max-height: max-content;

 lesson11
	padding: 15px;

	box-sizing: content-box;
	
 }

  .lesson-four-task-eight input:checked ~ #target{
  color: white;
  background-color:blue;
 } 

 /*Завдання №9. 
Використовуйте цей селектор :lang() */

  .lesson-four-task-nine p:lang(uk) {
  color: blue;
}

/* №10. 
Використовуйте цей селектор :enabled*/

.lesson-four-task-ten input:enabled{
  color: red;
  background-color:yellow;
}

/*Завдання №11. 
Використовуйте цей селектор :disabled*/ 

 .lesson-four-task-eleven input:disabled {
  background-color: yellow;
}

/*Завдання №12. 
Використовуйте цей селектор :read-write*/

 .lesson-four-task-twelve input:read-write {
  background-color: yellow;
}

/*Завдання №13. */

.lesson-four-task-thirteen input:read-only {
  background-color: yellow;
}

/*Завдання №14. 
Використовуйте ці селектори :valid та :invalid */

.lesson-four-task-fourteen input:valid {
  background-color: green;
}
 lesson-four-task-fourteen input:invalid {
  background-color: red;
}

/*Завдання №15. 
 Використовуйте цей селектор :optional */

.lesson-four-task-fifteen input:optional {
  background-color: red;
}

/*Завдання №16. 
 Використовуйте цей селектор :out-of-range*/

.lesson-four-task-sixteen input:out-of-range {
color: red;
 }

 /*Завдання №17.Використовуйте цей селектор :in-range*/

 .lesson-four-task-seventeen input:in-range{
  color: red;
  }
  
   /*Завдання №18. Використовуйте цей селектор :placeholder-shown*/

   .lesson-four-task-eighteen input:placeholder-shown {
    background-color: red;
  }

  /*Завдання №19.Застосуйте селектор :focus-within*/

 .lesson-four-task-nineteen button:focus-within{
color: white;
background-color:yellow ;
  }

/*Завдання №20.Використовуйте цей селектор :invalid*/

 .lesson-four-task-twenty input:invalid{
  background-color: red;
}
 main
