:root {
	--space-s: 8px;
	--space-m: 12px; /*відступи  в проекті*/
	--space-xm: 16px;
	--space-l: 24px; 
	--space-b: 36px; 
	
	--size-s: 14px; /*розмір шрифту маленький в проекті*/
	--size-d: 16px; /*розмір шрифту середный в проекті*/
	--size-l: 20px; /*розмір шрифту великий в проекті*/
	--size-b: 24px;

	--color-border: #DEE2E6;
	--color-border-light: #d3dee9;
	--color-primary:rgb(46, 46, 255);
	--color-white:#fff;
	--color-title: #212529;
	--color-text: #343A40;

	--border-radius-s: 4px;
	--border-radius-d: 12px;

	--weight-title: 600;
	--weight-text:400;

	--page-width:1000px;

}
